<div class="container">

  <!-- HEADER AND SUMMONersCOUNT -->
  <div class="jumbotron text-center">
    <h1>Login Page
      <span class="label label-info"></span>
    </h1>
  </div>

  <div class="content">

    <h3>Please sign up to use all features</h3>
<form [formGroup]="myForm" (ngSubmit)="onSignin()">
    <div class="form-group">
        <label for="email">E-Mail</label>
        <input formControlName="email" type="email" id="email" class="form-control">
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" class="form-control">
    </div>
    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Sign In</button>
</form>



</div>
