<div class="container text-center">
  <div class="signin-wrapper">
    <h1>Login to use all features</h1>
    <!-- <form ng-submit="login()" name="loginForm"> -->
    <form >
        <label for="email">E-Mail</label>
        <input  type="email" class="form-control input-lg text-center" [(ngModel)]="userData.email" required>
        <label for="password">Password</label>
        <input  type="password"  class="form-control input-lg text-center"
        [(ngModel)]="userData.password" required>
      <button type="submit" class="btn btn-primary" (click)="login()" >Log in</button>
    </form>
  </div>
</div>
