<div class="container">

  <!-- FORM TO CREATE SUMMONers -->
  <div id="summoner-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO summonerData.summoner IN ANGULAR -->
          <input type="text" class="form-control input-lg text-center" placeholder="Enter summoner names to see their data" [(ngModel)]="summonerData.text" required>
        </div>

        <!-- createSummonder() WILL CREATE NEW SUMMONers -->
        <button type="submit" class="btn btn-primary btn-lg" (click)="createSummoner()">Add</button>
      </form>
    </div>
  </div>

  <!-- HEADER AND SUMMONersCOUNT -->
  <div class="jumbotron text-center">
    <h1>Summoner
      <span class="label label-info">{{summoners.length}}</span>
    </h1>
  </div>

  <!-- SUMMONersLIST -->
  <div id="summoner-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <!-- LOOP OVER THE SUMMONers IN $scope.summoners -->
      <div class="checkbox" *ngFor="let summoner of summoners">
        <label>
          <input type="checkbox" (click)="deleteSummoner(summoner._id)" bind-checked="false">
          {{ summoner.text }}
        </label>
      </div>
      <div class="checkbox" *ngFor="let summoner of summoners">
        <label>
          <input type="checkbox" (click)="summonerStats(summoner._id)" bind-checked="false">
          {{ summoner.text }}
        </label>
      </div>

    </div>
  </div>
</div>
