
<div class="container">
  <div></div>
  <!-- FORM TO CREATE SUMMONers -->
  <div id="summoner-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO summonerData.summoner IN ANGULAR -->
          <input type="text" class="form-control input-lg text-center" placeholder="Enter summoner names to see their data" [(ngModel)]="summonerData.text" required>
        </div>

        <!-- createSummonder() WILL CREATE NEW SUMMONers -->
        <button type="submit" class="btn btn-primary btn-lg" (click)="createSummoner()">Add</button>
      </form>
    </div>
  </div>

  <!-- HEADER AND SUMMONersCOUNT -->
  <div class="jumbotron text-center">
    <h1>Summoner
      <span class="label label-info">{{summoners.length}}</span>
    </h1>
  </div>

  <!-- SUMMONersLIST -->
  <div id="summoner-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <!-- LOOP OVER THE SUMMONers IN $scope.summoners -->
      <span *ngFor="let summoner of summoners">
        <div class="checkbox">
          <label>
            <input type="checkbox" (click)="deleteSummoner(summoner._id)" bind-checked="false">
            {{ summoner.text }}
          </label>
          <label>
            <input type="checkbox" (click)="summonerStats(summoner)" bind-checked="false">
            {{ summoner.id }}
          </label>
          <h5>{{ stats.playerSummonerId }}</h5>
          <button type="submit" class="btn btn-primary btn-lg" (click)="updateMatchList(summoner._id)">Add Matches</button>
          <button type="submit" class="btn btn-primary btn-lg" (click)="getSummoner(summoner._id)">Add MatchData</button>
        </div>
        <div *ngIf="stats.summonerId == summoner.id" *ngFor="let stat of stats; trackBy: trackByStats">
          <h5>{{ stat.playerStatSummaryType }}</h5>
          <ul>
            <strong>Aggregated Stats</strong>
            <li>Total Assists:
              {{ stat.aggregatedStats.totalAssists }}</li>
            <li>Total Champion Kills:
              {{ stat.aggregatedStats.totalChampionKills }}</li>
            <li>Total Minion Kills:
              {{ stat.aggregatedStats.totalMinionKills }}</li>
            <li>Total Neutral Minions Killed:
              {{ stat.aggregatedStats.totalNeutralMinionsKilled }}</li>
            <li>Total Turrets Killed:
              {{ stat.aggregatedStats.totalTurretsKilled }}</li>
          </ul>
          <h5>Wins:
            {{ stat.wins }}</h5>
        </div>
      </span>
      <!-- <summonerD3></summonerD3> -->
    </div>
  </div>
</div>
