<div class="container">
  <br>
  <!-- FORM TO CREATE SUMMONers -->
  <div id="summoner-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO summonerData.summoner IN ANGULAR -->
          <input type="text" class="form-control input-lg text-center" placeholder="Enter summoner names to see their data" [(ngModel)]="summonerData.text" required>
        </div>

        <!-- createSummonder() WILL CREATE NEW SUMMONers -->
        <button type="submit" class="btn btn-primary btn-lg" (click)="createSummoner()">Add</button>
      </form>
    </div>
  </div>

  <!-- HEADER AND SUMMONersCOUNT -->
  <div class="jumbotron text-center">
    <h3>Summoners</h3>
    <span class="label label-info">{{summoners.length}}</span>
    <md-card class="col-sm-3" *ngFor="let summoner of summoners">
      <img src="http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/{{summoner.profileIconId}}.png" alt=""/>
      <div class="checkbox">
        <label>
          <input type="checkbox" (click)="deleteSummoner(summoner._id)" bind-checked="false">
          Delete {{ summoner.text }}
        </label>
        <h5>{{ stats.playerSummonerId }}</h5>
        <button type="submit" class="btn btn-primary btn-lg" (click)="updateMatchList(summoner._id)">Add Matches</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getSummoner(summoner._id)">Add MatchData</button>
      </div>
        <button type="submit" (click)="summonerStats(summoner)" class="btn btn-primary btn-lg">Summoners's stats</button>
    </md-card>
  </div>
  <br>

  <!-- SUMMONersLIST -->
  <div id="summoner-list">
    <div class="col-xs-12 col-md-6">
      <span *ngFor="let summoner of summoners">
        <div *ngIf="stats.summonerId == summoner.id" *ngFor="let stat of stats; trackBy: trackByStats">
          <h5>{{summoner.text}}</h5>
          <h5 *ngIf="stats.summonerId == summoner.id">{{ stat.playerStatSummaryType }}</h5>
          <ul>
            <strong>Aggregated Stats</strong>
            <li>Total Assists:
              {{ stat.aggregatedStats.totalAssists }}</li>
            <li>Total Champion Kills:
              {{ stat.aggregatedStats.totalChampionKills }}</li>
            <li>Total Minion Kills:
              {{ stat.aggregatedStats.totalMinionKills }}</li>
            <li>Total Neutral Minions Killed:
              {{ stat.aggregatedStats.totalNeutralMinionsKilled }}</li>
            <li>Total Turrets Killed:
              {{ stat.aggregatedStats.totalTurretsKilled }}</li>
          </ul>
          <h5>Wins:
            {{ stat.wins }}</h5>
        </div>
      </span>
    </div>
      <div class="container-fluid">
        <div class="col-xs-12 col-md-6">
          <div class="">
            <div class="" *ngFor="let summoner of totalDamage">
            <li class="list-group-item">
              <span class="badge">{{summoner.y}}
                -
                {{summoner.k}}/{{summoner.d}}/{{summoner.a}}</span>
              {{summoner.x}}
            </li>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
