// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button.active{
  background: #fff;
  color: #808080;
}
button.active:hover{
  color: #fff;
}
